<!--
    * ProductRepository Interface
    * Author: Glenn Min
    * Date: 2025-10-06 12:00
    * Modifier by : Sheng Qi
    * Last Modified: 2025-10-08 11:50
-->

<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ISS Shop - Products</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <style>
        .input-group .form-control {
            border: 1px solid #d9dadb;
            border-right: none;
            border-radius: 15px;
        }
        .input-group .btn {
            border: 1px solid #d9dadb;
            border-radius: 0 15px 15px 0;
            border-left: none;
        }
        .input-group .form-control:focus,
        .input-group .btn:focus,
        .form-select:focus {
            border-color: #e3e5e6;
            box-shadow: 0 0 0 0.25rem rgba(3, 5, 6, 0.15);

        }



    </style>
</head>

<body>
<!-- Header -->
<div th:replace="fragments/header :: site-header"></div>

<div class ="container">



    <!-- Product Filter Bar -->
    <form class="d-flex flex-wrap mt-3" th:action="@{/products/list}" method="get">
        <div class="col-2">
            <select class="form-select" name="categoryId">
                <option value="0">All Categories</option>
                <option th:each="cat : ${categories}"
                        th:value="${cat.categoryId}"
                        th:text="${cat.name}">
                </option>
            </select>
        </div>
        <div class="col-3 ms-5">
            <div class ="input-group">
                <input type="text" class="form-control" placeholder="Search..." aria-label="Search" th:value="${keyword}">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
        <div class="d-flex align-items-end ms-auto">
            <button class = "btn" type="submit" name="sort" value="priceAsc">Price ↑</button>
            <button class = "btn" type="submit" name="sort" value="priceDesc">Price ↓</button>
            <button class = "btn" type="submit" name="sort" value="rating">Rating</button>
        </div>

    </form>

    <!-- Product Grid -->
    <!--<div class="product-grid">
        <div th:each="product : ${products}" class="product-card">
            <a th:href="@{'/products/' + ${product.productId}}">
                <img th:src="@{/images/default.png}" alt="Product Image"/>
                <p th:text="${product.productName}"></p>
                <p th:text="'$' + ${product.unitPrice}"></p>
            </a>
            <form th:action="@{'/products/' + ${product.productId} + '/favorite'}" method="post">
                <button>♡</button>
            </form>
        </div>
    </div>-->
    <p th:if="${#lists.isEmpty(products)}">No products found!</p>
    <div class="row mt-3">
        <div th:each="product : ${products}" class="col-md-3 mb-3">
            <div class="card">
                <img th:src="@{/images/default-product.png}" class="card-img-top" alt="Product Image">
                <div class="card-body">
                    <p class="card-text" th:text="${product.productName}" ></p>
                    <p class="card-text" th:text="${product.unitPrice}" ></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
