<comment>
    * ProductRepository Interface
    * Author: Glenn Min
    * Date: 2025-10-06 12:00
    * Modifier by :
    * Last Modified:
</comment>

<!-- templates/fragments/header.html -->
<header th:fragment="site-header" class="top-bar">
    <!-- Left -->
    <div class="section brand">
        <span>Shop @ISS</span>
    </div>

    <!-- Center -->
    <div class="section center">
        <span>
            Today's Deals: Buy 1, Get 1 Free for NUS Biscuits,
            20% off for MYSSU Polo T-shirts, Free delivery on orders over $80
        </span>
    </div>

    <!-- Right -->
    <div class="section right">
        <i class="fa fa-user"></i>
        <a href="#">Hello. Log in | Sign up</a>
        <i class="fa fa-shopping-cart"></i>
        <i class="fa fa-heart"></i>
    </div>
</header>

