:root {
    --m-3white: rgba(255, 255, 255, 1);
    --m-3black: rgba(0, 0, 0, 1);
    --body-base-bold-font-family: "Inter", Helvetica;
    --body-base-bold-font-weight: 700;
    --body-base-bold-font-size: 16px;
    --body-base-bold-letter-spacing: 0px;
    --body-base-bold-line-height: 139.9999976158142%;
    --body-base-bold-font-style: normal;
    --single-line-body-base-font-family: "Inter", Helvetica;
    --single-line-body-base-font-weight: 400;
    --single-line-body-base-font-size: 16px;
    --single-line-body-base-letter-spacing: 0px;
    --single-line-body-base-line-height: 100%;
    --single-line-body-base-font-style: normal;
    --m3-schemes-outline: rgba(121, 116, 126, 1);
    --size-space-300: 12px;
    --size-space-200: 8px;
    --size-space-400: 16px;
    --size-radius-200: 8px;
    --size-radius-full: 9999px;
    --color-text-brand-on-brand: var(--color-primitives-brand-100);
    --color-text-default-default: var(--color-primitives-gray-900);
    --color-background-brand-default: var(--color-primitives-brand-800);
    --color-background-default-default-hover: var(--color-primitives-gray-100);
    --color-background-brand-hover: var(--color-primitives-brand-900);
    --color-text-brand-tertiary: var(--color-primitives-brand-500);
    --color-background-brand-tertiary: var(--color-primitives-brand-100);
    --color-text-default-tertiary: var(--color-primitives-gray-400);
    --color-background-default-default: var(--color-primitives-white-1000);
    --color-border-default-default: var(--color-primitives-gray-300);
    --color-border-brand-default: var(--color-primitives-brand-800);
    --colors-black-100: rgba(0, 0, 0, 1);
    --color-primitives-brand-100: rgba(245, 245, 245, 1);
    --color-primitives-gray-900: rgba(30, 30, 30, 1);
    --color-primitives-white-1000: rgba(255, 255, 255, 1);
    --color-primitives-brand-900: rgba(30, 30, 30, 1);
    --color-primitives-brand-800: rgba(44, 44, 44, 1);
    --color-primitives-brand-b-800: rgba(119, 0, 0, 1);
    --color-primitives-gray-100: rgba(245, 245, 245, 1);
    --color-primitives-brand-300: rgba(217, 217, 217, 1);
    --color-primitives-gray-700: rgba(56, 56, 56, 1);
    --color-primitives-brand-500: rgba(117, 117, 117, 1);
    --color-primitives-brand-400: rgba(179, 179, 179, 1);
    --color-primitives-brand-600: rgba(68, 68, 68, 1);
    --color-primitives-gray-400: rgba(179, 179, 179, 1);
    --color-primitives-white-400: rgba(255, 255, 255, 0.4);
    --color-primitives-gray-300: rgba(217, 217, 217, 1);
    --color-primitives-gray-600: rgba(68, 68, 68, 1);
    --typography-primitives-scale-06: 32px;
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-m3-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-m3-mode="light"] {
    --m3-schemes-outline: rgba(121, 116, 126, 1);
}

[data-m3-mode="light-high-contrast"] {
    --m3-schemes-outline: rgba(69, 65, 74, 1);
}

[data-m3-mode="light-medium-contrast"] {
    --m3-schemes-outline: rgba(97, 93, 103, 1);
}

[data-m3-mode="dark"] {
    --m3-schemes-outline: rgba(147, 143, 153, 1);
}

[data-m3-mode="dark-high-contrast"] {
    --m3-schemes-outline: rgba(206, 200, 212, 1);
}

[data-m3-mode="dark-medium-contrast"] {
    --m3-schemes-outline: rgba(166, 161, 171, 1);
}

[data-m3-mode="monochrome-LT"] {
    --m3-schemes-outline: rgba(119, 119, 119, 1);
}

[data-m3-mode="monochrome-DT"] {
    --m3-schemes-outline: rgba(145, 145, 145, 1);
}

[data-m3-mode="pink-LT"] {
    --m3-schemes-outline: rgba(130, 115, 120, 1);
}

[data-m3-mode="pink-DT"] {
    --m3-schemes-outline: rgba(157, 140, 146, 1);
}

[data-m3-mode="rose-LT"] {
    --m3-schemes-outline: rgba(132, 115, 116, 1);
}

[data-m3-mode="rose-DT"] {
    --m3-schemes-outline: rgba(159, 140, 142, 1);
}

[data-m3-mode="red-LT"] {
    --m3-schemes-outline: rgba(133, 115, 112, 1);
}

[data-m3-mode="red-DT"] {
    --m3-schemes-outline: rgba(160, 140, 138, 1);
}

[data-m3-mode="orange-LT"] {
    --m3-schemes-outline: rgba(133, 116, 107, 1);
}

[data-m3-mode="orange-DT"] {
    --m3-schemes-outline: rgba(127, 118, 103, 1);
}

[data-m3-mode="yellow-LT"] {
    --m3-schemes-outline: rgba(127, 118, 103, 1);
}

[data-m3-mode="yellow-DT"] {
    --m3-schemes-outline: rgba(153, 144, 128, 1);
}

[data-m3-mode="chartreuse-LT"] {
    --m3-schemes-outline: rgba(120, 120, 106, 1);
}

[data-m3-mode="chartreuse-DT"] {
    --m3-schemes-outline: rgba(145, 146, 130, 1);
}

[data-m3-mode="green-LT"] {
    --m3-schemes-outline: rgba(113, 121, 112, 1);
}

[data-m3-mode="green-DT"] {
    --m3-schemes-outline: rgba(145, 146, 130, 1);
}

[data-m3-mode="teal-LT"] {
    --m3-schemes-outline: rgba(111, 121, 118, 1);
}

[data-m3-mode="teal-DT"] {
    --m3-schemes-outline: rgba(136, 147, 143, 1);
}

[data-m3-mode="cyan-LT"] {
    --m3-schemes-outline: rgba(112, 120, 124, 1);
}

[data-m3-mode="cyan-DT"] {
    --m3-schemes-outline: rgba(138, 146, 149, 1);
}

[data-m3-mode="blue-LT"] {
    --m3-schemes-outline: rgba(117, 119, 128, 1);
}

[data-m3-mode="blue-DT"] {
    --m3-schemes-outline: rgba(143, 144, 154, 1);
}

[data-m3-mode="indigo-LT"] {
    --m3-schemes-outline: rgba(120, 118, 128, 1);
}

[data-m3-mode="indigo-DT"] {
    --m3-schemes-outline: rgba(145, 143, 154, 1);
}

[data-m3-mode="purple-LT"] {
    --m3-schemes-outline: rgba(122, 117, 127, 1);
}

[data-m3-mode="purple-DT"] {
    --m3-schemes-outline: rgba(149, 142, 153, 1);
}

[data-color-mode="SDS-light"] {
    --color-text-brand-on-brand: var(--color-primitives-brand-100);
    --color-text-default-default: var(--color-primitives-gray-900);
    --color-background-brand-default: var(--color-primitives-brand-800);
    --color-background-default-default-hover: var(--color-primitives-gray-100);
    --color-background-brand-hover: var(--color-primitives-brand-900);
    --color-text-brand-tertiary: var(--color-primitives-brand-500);
    --color-background-brand-tertiary: var(--color-primitives-brand-100);
    --color-text-default-tertiary: var(--color-primitives-gray-400);
    --color-background-default-default: var(--color-primitives-white-1000);
    --color-border-default-default: var(--color-primitives-gray-300);
    --color-border-brand-default: var(--color-primitives-brand-800);
}

[data-color-mode="SDS-dark"] {
    --color-text-brand-on-brand: var(--color-primitives-brand-900);
    --color-text-default-default: var(--color-primitives-white-1000);
    --color-background-brand-default: var(--color-primitives-brand-100);
    --color-background-default-default-hover: var(--color-primitives-gray-700);
    --color-background-brand-hover: var(--color-primitives-brand-300);
    --color-text-brand-tertiary: var(--color-primitives-brand-400);
    --color-background-brand-tertiary: var(--color-primitives-brand-600);
    --color-text-default-tertiary: var(--color-primitives-white-400);
    --color-background-default-default: var(--color-primitives-gray-900);
    --color-border-default-default: var(--color-primitives-gray-600);
    --color-border-brand-default: var(--color-primitives-brand-100);
}

[data-color-mode="brand-b-light"] {
    --color-text-brand-on-brand: var(--color-primitives-brand-100);
    --color-text-default-default: var(--color-primitives-gray-900);
    --color-background-brand-default: var(--color-primitives-brand-b-800);
    --color-background-default-default-hover: var(--color-primitives-gray-100);
    --color-background-brand-hover: var(--color-primitives-brand-900);
    --color-text-brand-tertiary: var(--color-primitives-brand-500);
    --color-background-brand-tertiary: var(--color-primitives-brand-100);
    --color-text-default-tertiary: var(--color-primitives-gray-400);
    --color-background-default-default: var(--color-primitives-white-1000);
    --color-border-default-default: var(--color-primitives-gray-300);
    --color-border-brand-default: var(--color-primitives-brand-800);
}
