<!DOCTYPE html>
<html lang="en">
  <head>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <div>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Product</th>
                    <th scope="col">Date</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Quantity</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Loop through each order -->
                  <tr th:each="order : ${orders}">
                    <td href="#" class="id" th:text="${order.orderId}">12345</td>
                    <!--Product info-->
                    <td th:each="item : ${order.orderDetails}">
                      <div class="d-flex align-items-center">
                        <div>
                          <img src="https://via.placeholder.com/60" class="img-fluid rounded-3" alt="Product Image">
                        </div>
                        <div class="flex-column ms-3">
                          <a href="productDetails.html">
                            <h6 th:text="${item.product.productName}">Product Name</h6>
                          </a>
                          <p th:text="${item.product.category}">Category: Electronics</p>
                        </div>
                      </div>
                    </td>
                    <td class="date"><span th:text="${order.orderDate}">2023-10-01</span></td>
                    <td class="price"><span th:text="${order.totalAmount}">$100.00</span></td>
                    <td class="quantity"><span th:text="${item.quantity}">1</span></td>
                    <td>
                      <button type="button" th:attr="data-order-id=${orders.Orderid}">Review</button>
                    </td>
                    <td> <a href="#" class="btn-refund">Refund</a></td>
                  </tr>
                </tbody>
              </table>    
            </div>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </body>
</html>