<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Details</title>
</head>
<body>

<p>Product Id: <span th:text="${product.productId}"></span></p>
<p>Name: <span th:text="${product.productName}"></span></p>
<p>Description: <span th:text="${product.description}"></span></p>
<p>Price: <span th:text="${product.unitPrice}"></span></p>



<form th:action="@{/shoppingCartDetail/add}" method="post">
    <input type="hidden" name="customerId" value="1">
    <input type="hidden" name="productId" th:value="${product.productId}">
    Quantity: <input type="number" name="quantity" value="1" min="1">
    <button type="submit">Add to Cart</button>
</form>


<a th:href="@{/shoppingCartDetail/view(customerId=1)}">View Cart</a>
</body>
</body>
</html>